version: '3.8'

services:
  postgres:
    image: postgres:17.4
    container_name: pg_pricing_engine
    environment:
      POSTGRES_DB: pricing_engine_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
